<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846082065843-oa458j5eqvh8eoicum0kn66b3c5eqsu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846082065843-oa458j5eqvh8eoicum0kn66b3c5eqsu8</string>
	<key>API_KEY</key>
	<string>AIzaSyBUXMyvTNNTL1qr9yA40jv1p9t0kngTnfU</string>
	<key>GCM_SENDER_ID</key>
	<string>846082065843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tinhpv.edanachatapp</string>
	<key>PROJECT_ID</key>
	<string>appchatmovie</string>
	<key>STORAGE_BUCKET</key>
	<string>appchatmovie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846082065843:ios:531016912ec66dcc4cf7c6</string>
	<key>DATABASE_URL</key>
	<string>https://appchatmovie.firebaseio.com</string>
</dict>
</plist>